# Dependencias
node_modules

# Compilados
dist
build
.next
.vite

# Prisma generado
**/generated/prisma

# Variables de entorno
.env
.env.*
!.env.example

# Testing
coverage

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# pnpm
.pnpm-debug.log*

# AI / agentes
.antigravitycli/
.cursor/
.gemini/
.claude/
.agents/
mejora:txt
skills-lock.json
AGENTS.md

*.pdf